VITE_ARC_RPC_URL=https://rpc.testnet.arc.network
VITE_ARC_EXPLORER_URL=https://testnet.arcscan.app
VITE_ORGANIZATION_REGISTRY_ADDRESS=
VITE_DUEBACK_CAMPAIGNS_ADDRESS=
VITE_FEATURED_CAMPAIGN_ID=
VITE_VERIFIER_API_URL=http://127.0.0.1:8787

DUEBACK_FOUNDRY_ACCOUNT=dueback-deployer-testnet
DUEBACK_ATTESTOR_ADDRESS=
DUEBACK_RECLAIM_CHANGE_DELAY=86400
DUEBACK_VERIFIER_FOUNDRY_ACCOUNT=dueback-attestor-testnet
DUEBACK_VERIFIER_LISTEN_ADDR=127.0.0.1:8787
DUEBACK_VERIFIER_ALLOWED_ORIGIN=http://localhost:5173
DUEBACK_CHALLENGE_STORE_PATH=.dueback-data/challenges.json
DUEBACK_MAX_CHALLENGES=10000
DUEBACK_VERIFY_TIMEOUT_SECONDS=20
